version: "3.9"

services:
  
  mysql:
    container_name: mysql
    image: mysql:8.0.29-oracle
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "<PassSql-1234>"
    volumes:
      - sql-data:/var/lib/mysql
      
  redis:
    container_name: redis
    image: redis:7.0.0
    restart: always
    command: redis-server --requirepass redis-password
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      
  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
        
volumes:
  redis-data:
  sql-data:
  portainer-data: